In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\aktam\Documents\dataset.csv')
df.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,...,sensor_20,sensor_21,sensor_22,sensor_23,sensor_24,sensor_25,sensor_26,sensor_27,sensor_28,source_file
0,112.0,NaN,RUL_FD001.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,98.0,NaN,RUL_FD001.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,69.0,NaN,RUL_FD001.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,82.0,NaN,RUL_FD001.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91.0,NaN,RUL_FD001.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Drop columns with null values
df = df.dropna(axis=1)

# Show the first few rows of the updated DataFrame
df.head()

   sensor_1       sensor_3
0     112.0  RUL_FD001.txt
1      98.0  RUL_FD001.txt
2      69.0  RUL_FD001.txt
3      82.0  RUL_FD001.txt
4      91.0  RUL_FD001.txt